.buyWindow{
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/* Поле Оплаты */
.payment{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 170px;
}
.payment p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.payment_text{
    color: var(--white);
    font-family: var(--font);
    font-size: 1.5rem;
    text-align: left;

    height: 30px;
}
.payment_card{
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    line-height: 40px;
    color: var(--black);
    font-family: var(--font);
    font-size: 1.1rem;
    text-align: left;

    border-radius: 5px;
    background-color: var(--white);
    border-radius: 5px;

    border: none;
    outline: none;
}
.payment_card:hover{
    cursor: pointer;
}
.payment_card:focus{
    border: solid;
    border-color: var(--blue);
    border-width: 3px;
}
.payment_card_enter{
    width: 40%;
    height: 30px;

    margin-right: 10px;
    margin-top: 15px;

    color: var(--white);
    font-family: var(--font);
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;

    background-color: var(--blue);
    border-radius: 3px;
    border: none;
    outline: none;
}
.payment_card_enter:hover{
    cursor: pointer;
}
.payment_card_enter:active{
    background-color: black;
}

/* Поле Адресов */
.adress{
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--white);
    font-family: var(--font);
    font-size: 1.5rem;
    text-align: left;
}
.adress ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 10px;
}
.adress li{
    color: var(--white);
    font-family: var(--font);
    font-size: 1rem;
    text-align: left;
}