
.souvenirs_p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.souvenirs_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 10px;
}

.souvenirs_elem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    border-radius: 5px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.souvenirs_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}
.souvenirs_img{
    background-size: cover;
}


.souvenirs_info_price{
    color: var(--blue);
    font-family: var(--font);
    font-size: 1.1rem;
    margin-left: 10px;
    color: var(--blue_hover);
}
.souvenirs_info_text{
    color: var(--blue);
    font-family: var(--font);
    font-size: 1.1rem;
    margin-left: 10px;
    color: #BDBDBD;
}
.souvenirs_info_buy{
    background-color: var(--blue);
    margin-left: 10px;
    margin-right: 10px;

    color: var(--white);
    font-family: var(--font);
    font-size: 0.9rem;
    text-align: center;

    border-radius: 3px;
    border: none;
    outline: none;
}
.souvenirs_info_buy:hover{
    cursor: pointer;
}
.souvenirs_info_buy:active{
    background-color: black;
}

